<!-- Head part of HTML is include in "head.ejs" file of 'views' folder -->
<%- include("includes/head.ejs"); %>

<body>
    <h1>No such account </h1>
<!-- include the footer.ejs file using the "include" -->
<%- include("includes/footer.ejs") %>
</body>
</html>